table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid black;
}
table tr, table tr {
    border-bottom: 1px solid #ddd
}
table tr:nth-child(odd) {
    background-color: #fff
}
table tr:nth-child(even) {
    background-color: #f1f1f1
}
table tr th, table tr td {
    text-align: center;
    border: 1px solid black;
}
table td, table th, table td, table th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top
}
table th:first-child, table td:first-child, table th:first-child, table td:first-child {
    padding-left: 16px
}
div:after, div:before {
    content: "";
    display: table;
    clear: both
}
div {
    padding: 0.01em 16px
}
